html {
  height: 100%;
}

body {
  min-height: 100%;
  width: 100%;
  display: table;
  padding: 0;
}

.App {
  background-color: white !important;
}

#search-bar {
  margin-top: 8px;
  width: 80%;
  height: 45px;
  font-size: 24px;
}
.ui.input.search-input {
  float: left;
  width: 100%;
}

.userName {
  font-size: 150%;
  float: left;
  margin-top: 15px;
}

.ui.toggle.checkbox.email-toggle {
  float: right;
  margin-top: 18px;
  margin-right: 18px;
}

.status {
  padding-top: 22px;
  float: right;
  margin-left: 10px;
}

#friend-list {
  margin: 10px;
}

#friends-container {
  width: 40%;

  height: 105vh;
  max-height: 105vh;
  float: left;

  /* box-shadow: 5px 7px 15px 0px grey; */
  box-shadow: 2px 0px 3px -1px grey;
  background-color: white;
}
.ui.menu {
  margin: 0 !important;
}

#right-border {
  top: 80%;
  bottom: 0;
}

.item.list-item:hover {
  background: #e4f0f5;
}

#friend-info-container {
  width: 60%;

  height: 90vh;

  max-height: 90vh;
  padding: 50px;
  float: right;
  margin: auto;
}

#friend-info-back {
}

.profile-pic {
  margin: 27px auto 0 auto;
  width: 200px;
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

h1 {
  font-size: 3em;
}

h1 small {
  font-size: 0.3em;
  position: relative;
  top: -28px;
  color: #757575;
}

h1 small:after {
  content: " ";
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #58d68d;
  display: block;
  position: absolute;
  right: -13px;
  top: 3px;
}

button#upload-file-btn {
  position: fixed;
  bottom: 0;
  right: -5px;
}

.message-item-wrapper {
  clear: both;
}

.message-item-wrapper > img {
  min-width: 400px;
  width: 50%;
  border-radius: 4px;
  border: 1px solid white;
}

.message-item-wrapper.message-left {
  text-align: left;
}

.message-item-wrapper.message-right {
  text-align: right;
}
